.first-half{
    width: 50%;
    padding-left: 2%;
    padding-top:1%;

}


.one{
    color: mediumvioletred;
}

.section{
    display: flex;
}
.first-half{
    width: 50%;
}
.first-half img{
    width: 60%;
}
.link-button{
    background-color: mediumvioletred;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}
